<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/" aria-label="Retour à la page précédente"></ion-back-button>
    </ion-button>
    <ion-title>A Propos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">A Propos</ion-title>
    </ion-toolbar>
  </ion-header>

  Ce site est un projet étudiant, utilisant Ionic et une base de donnée FireBase. Le but étant de créer
  une première applciation web avec un CRUD complet, tout en utilisant des componant IONIC.

</ion-content>
