<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-burger" routerLink="/list-burger">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Burgers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-burger" routerLink="/add-burger">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Ajouter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="a-propos" routerLink="/a-propos">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>A propos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
